
{% for element in menulist %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ element.subject }}<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for level2element in level2menulist %}
            {% if level2element.parent == element %}
                <li>
                    <a href="{% url "blog_level0" level2element.id %}">{{level2element.subject}}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="divider"></li>
        <li class="dropdown-header">
            <a href="{% url "blog_level1" element.id %}"> - all - </a>
        </li>
    </ul>
</li>

{% endfor %}
